@using BlueLotus360.CleanArchitecture.Domain.DTO.Object;
@using BlueLotus360.CleanArchitecture.Domain.Entities;

<MudItem xs="12" class=@css_class md="@UIElement.Width">
    @if (UnitResponses == null)
    {
        <MudSkeleton Animation="Animation.Wave" Width="100%" />
    }
    else
    {
        <div class="w-100">
            <div class="col-12">
                <div class="bk-k-lable">@UIElement.ElementCaption</div>
            </div>
            <div class="col-12">
                <TelerikComboBox Data="@UnitResponses" TextField="UnitName" ValueField="UnitKey"
                             TValue="long" TItem="UnitResponse"
                             ValueChanged="(long  s)=>OnComboValueChangedTel(s)"
                             Value="selectedUnit.UnitKey"
                             FilterOperator="Telerik.Blazor.StringFilterOperator.Contains"
                
                >
                </TelerikComboBox>

            </div>
        </div>



    }
</MudItem>


