@import url('qr.css');
@import url('loader.css');
@import url('dashboard.css');
@import url('hr.css');

:root {
    --bl-gray: #EEEEEE;
}

.bd-bt-gr-1 {
    border-bottom: 1px solid #ccc;
}

.bd-bt-gr-1 {
    border-bottom: 1px solid #ccc;
}

.mud-grid-spacing-xs-3 > .mud-grid-item {
    padding: 4px;
}

.child-inp-right input {
    text-align: right;
}

.dxflex {
    -- height: calc(100vh - var(--mud-appbar-min-height)-2px);
}
.mud-drawer{
    z-index:13055!important;
}
.mud-drawer-header {
    padding: 4px !important;
    background: url(/icon-512.png) no-repeat #ffffff;
    background-size: contain;
}

    .mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--open .mud-drawer-header {
        margin-left: 30px;
        margin-top: 8px;
        background-image: url(/img/bl-logo.svg);
        background-repeat: no-repeat;
        background-color:#063b71ff;
        background-size: contain;
    }

.mud-appbar.mud-appbar-fixed-top{
    left:38px!important;
}
.top-searchbar {
    background: #F1F1F1;
    border: 0.5px solid #D0D7DE;
    border-radius: 5px;
}

.bl-expansion-panel {
    display: block;
    margin: auto;
    overflow: hidden;
    border: 1px solid red;
    border-radius: 5px;
}

.bl-line-level-section {
    background-color: var(--bl-gray);
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.bl-button-outlined {
    transition: background-color 250ms cubic-bezier(.4,0,.2,1) 0ms,box-shadow 250ms cubic-bezier(.4,0,.2,1) 0ms,border 250ms cubic-bezier(.4,0,.2,1) 0ms;
    border-radius: var(--mud-default-borderradius);
    position: relative;
    overflow: hidden;
}

.text-box-border {
    border-radius: var(--mud-default-borderradius);
    border-color: var(--mud-palette-lines-inputs);
    border-width: 1px;
    border-style: solid;
    transition: border-width,border-color 200ms cubic-bezier(.4,0,.2,1) 0ms;
    padding: 0px 12px 0px 12px !important;
    border: 2px solid #063b71ff;
}

    .text-box-border input {
        text-align: center;
    }

.selected {
    background-color: #1E88E5 !important;
}

    .selected > td {
        color: white !important;
    }

        .selected > td .mud-input {
            color: white !important;
        }

.bl-btn-primary {
    background: #063b71ff !important;
    color: white !important;
}


/*order-summery*/
.success-wrapper {
    position: relative;
    width: 100%;
    background: #ffffff;
    left: 0;
    right: 0;
    top: 0;
    overflow: scroll;
    padding-bottom: 100px;
}

    .success-wrapper .header-details {
        background: #F9F9F9;
        padding: 24px;
    }

        .success-wrapper .header-details .mud-grid .mud-grid-item {
            align-items: center;
        }

    .success-wrapper img {
        position: relative;
        top: 3%;
        left: 50%;
        width: 40px;
        height: 40px;
    }

    .success-wrapper .success-text {
        position: relative;
        top: 5%;
        display: block;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: #039D00;
    }

    .success-wrapper .line-details {
        padding: 0px 24px;
    }

    .success-wrapper .mobile-line-details {
        display: none;
    }

.total-details-rows > th, .total-details-rows > td {
    border-top: 0px !important;
}

.net-total-details-row:nth-child(n+5) {
    border-top: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.success-footer {
    background: #ffffff;
    position: fixed;
    bottom: 0;
    left: 240px;
    right: 0;
    padding: 24px 16px 24px 24px;
    display: flex;
    align-items: center;
    z-index: 10;
}

    .success-footer button {
        background: #ffffff;
        border-radius: 4px;
        color: #000000;
        padding: 8px;
        margin-right: 32px;
    }

        .success-footer button .fa {
            font-size: 20px;
            line-height: 32px;
        }

.done {
    background: #4097FF !important;
    color: #ffffff !important;
    border-radius: 4px !important;
    padding: 6px 23px 5px 23px !important;
    margin-left: auto;
    margin-right: 0px !important;
}



.qr-dialog > div:not(.mud-dialog-title) {
    display: flex;
    align-items: stretch;
    height: 100%;
    border-radius: 13px;
}

.d-flex.emc {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.zxing-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.emc video {
    width: 100%;
    height: 100%;
}

.zxing-video-container {
    height: 80%;
    overflow: hidden;
    width: 80%;
    margin: auto;
}

.container-print {
    max-width: 450px;
    margin: auto;
}

.cash-total-sm {
    display: none;
}

.btn-group-align {
    justify-content: end;
    margin-bottom: 30px;
}

.center-btn-grp {
    overflow-x: scroll;
    justify-content: normal;
}
/*scan item transfer*/
.scan-item-add-to-grid-btn {
    background: #1e88e5ff;
    color: white;
}

    .scan-item-add-to-grid-btn:hover {
        background: #1e88e5;
        color: white;
    }

.scan-item-transfer-total-bl {
    width: 75%;
    margin: auto;
    margin-top: 64px;
    background: var(--bl-gray);
    padding: 12px;
}

.scan-item-transfer-total-bl2 {
    width: 75%;
    margin: auto;
    margin-top: 78px;
    background: var(--bl-gray);
    padding: 12px;
}

.scan-item-transfer-total-bl3 {
    width: 75%;
    margin: auto;
    margin-top: 122px;
    background: var(--bl-gray);
    padding: 12px;
}

.btn-group-scitr-align {
    justify-content: normal !important;
    margin-bottom: 30px;
    margin-left: 12px;
}

.bl-chart-container {
    height: calc(50vw - 140px);
    width: calc(45vw - 140px);
}

.bl-chart-container-for-loc-wise-stock {
    height: calc(50vw - 140px);
    padding-top: 10vw;
}

.sales-by-loc-chart-container {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bl-chart-dill-through-container {
    height: 86vh;
    width: 62vw;
    margin: auto;
}

.table-empty {
    display: flex;
    height: auto;
    margin-bottom: 0px;
    /*background: #FBFDFF*/
    background: #f0f7ff;
    height: 425px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #1e88e5;
    border-radius: 0.5rem;
}


    .table-empty .empty-image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.table-empty-find-popup {
    display: flex;
    height: auto;
    margin-bottom: 0px;
    /*background: #FBFDFF*/
    background: #f0f7ff;
    height: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #1e88e5;
    border-radius: 0.5rem;
    padding: 10px;
}

    .table-empty-find-popup .empty-image-popup {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.bl-chip-small {
    height: 20px !important;
    padding: 0 10px !important;
}


.popup-cancel-btn button {
    border: 1px solid black;
    border-radius: 5px;
}

/*sales by location*/

.invoice-grid-desktop {
    display: block;
}

.invoice-grid-mobile {
    display: none;
}

.bl-find-pop-up {
    position: fixed;
    background: #363936d6;
    z-index: 1101;
    left: 0;
    right: 0;
    bottom: 0px;
    top: -100px;
    display: flex;
    align-items: center;
}

/*itemtransfer*/

.table-text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

.pop-up-ui-with-close-btn {
    margin: auto;
    background: white;
    padding: 35px;
    width: 90%;
    border-radius: 0 0 4px 4px;
}

.pop-up-close-btn {
    background: white;
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: auto;
}

.finance-dt-popup {
    position: relative;
    min-width: 820px;
    width: 1038px;
}
.fixed-button-bar {
    position: fixed;
    left: 56px;
    right: 0;
    background: white;
    top: 64px;
    padding: 20px !important;
    z-index: 1302;
    border-bottom: 1px solid #063B71;
    border-top: 1px solid #F2F2F2;
}

    .fixed-button-bar + div {
        margin-top: 44px !important;
    }
.bl-mw-50{
    max-width:50%;
}

.mud-nav-link.active:not(.mud-nav-link-disabled) {
    
    color: #e4f4ff!important;
}
.bl-report-container{
    padding-left:60px;
}

@media (max-width:1417px) {
    .btn-group-align {
        overflow-x: scroll;
        justify-content: normal;
        width: 250px;
    }
}

@media (max-width:960px) {
    .success-wrapper .mobile-line-details {
        display: block;
        margin-top: 12px;
    }

        .success-wrapper .mobile-line-details > ul > li {
            list-style-type: none;
            border-bottom: 1px solid rgba(33, 33, 33, 0.08);
            padding: 6px 16px;
        }

            .success-wrapper .mobile-line-details > ul > li:nth-last-of-type(1) {
                display: flex;
                justify-content: space-between;
                border-bottom: 0px;
                padding: 6px 16px;
            }

    .success-footer {
        left: 0;
    }

    .cash-total-sm {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        padding: 10px;
    }

    .scan-item-transfer-total-bl {
        margin-top: 5px;
    }

    .scan-item-transfer-total-bl2 {
        margin-top: 5px;
    }

    .scan-item-transfer-total-bl3 {
        margin-top: 5px;
    }

    .invoice-grid-desktop {
        display: none;
    }

    .invoice-grid-mobile {
        display: block;
    }

    .bl-find-pop-up {
        position: absolute;
        top: 0px;
    }
    
}

@media (max-width:959.5px) {
    .mud-appbar.mud-appbar-fixed-top {
        left: 0 !important;
    }
    .fixed-button-bar {        
        left: 0;
    }
    .mud-avatar-filled.mud-avatar-filled-primary {
        background-color: #ffff!important;
    }
    .mud-avatar-filled {
        color: #063b71ff!important;
        
    }
    .mud-appbar {
        background-color: #063b71ff !important;
    }
    .bl-mud-toolbar-mob>button {
        color: white;
    }
    .top-appbar-title h6{
        color: white!important;
    }
    .custom-drawer-header {
        display: flex;
        min-height: var(--mud-appbar-height);
        padding: 12px 24px;
        background-image: url(/img/bl-logo.svg);
        background-repeat: no-repeat;
        background-color: #063b71ff;
        background-size: contain;
    }
    .bl-report-container {
        padding-left: 0px;
    }

    .bl-chart-container {
        height: calc(100vw - 32px);
        width: calc(100vw - 32px);
    }


    .bl-chart-container-for-loc-wise-stock {
        height: calc(50vw - 32px);
    }

    .bl-chart-dill-through-container {
        height: calc(100vw - 32px);
    }

    .table-empty {
        height: 160px;
    }
}

@media (max-width: 600px) {

    .success-wrapper .header-details {
        padding: 16px;
    }

    .border-bottom-summery {
        border-bottom: 1px solid rgba(33, 33, 33, 0.08);
    }

        .border-bottom-summery .mud-grid :nth-child(2n) {
            display: flex;
            justify-content: flex-end;
        }

    .success-wrapper .line-details {
        padding: 0px 16px;
    }

        .success-wrapper .line-details > table {
            display: none;
        }

    .bl-expansion-panel {
        max-width: 400px;
    }
}

@media (max-width: 599px) {



    .bl-chart-container {
        height: calc(100vw - 16px);
        width: calc(100vw - 16px);
    }

    .bl-chart-container-for-loc-wise-stock {
        height: calc(50vw - 16px);
    }


    .bl-chart-dill-through-container {
        height: 150vw;
        width: 150vw;
    }

    .btn-group-align {
        justify-content: center;
    }

    .center-btn-grp {
        justify-content: center;
        display: grid;
    }

    .company-name {
        display: none;
    }
    .fixed-button-bar {
        top: 55px;       
    }
}


@media only screen and (orientation:landscape) {
    .success-wrapper img {
        left: 49%;
    }
}

@media only screen and (orientation:portrait) {
    .success-wrapper img {
        left: 47%;
    }
}


.bl-pop-up {
    position: fixed;
    background: #363936d6;
    z-index: 1101;
    left: 0;
    right: 0;
    bottom: 0px;
    top: 64px;
    display: flex;
    align-items: center;
}

.price_list > div {
    margin: auto;
}

.cash-ui {
    margin: auto;
    background: white;
    padding: 35px;
    width: 90%;
    border-radius: 4px;
}

.pop-up-ui {
    margin: auto;
    background: white;
    padding: 35px;
    width: 90%;
    border-radius: 4px;
}

.detail-wrapper {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: calc(100vh - 80px);
}

.header-section {
    flex: 0 1 0px;
}

.detailsection {
    flex: 2 1 0px;
    display: flex;
}

tr.mud-table-row.bold-text.bg-tr-g1 td {
    background: #1e88e5 !important;
    color: #fff;
}

.tdef {
    flex: 1;
    padding: 6px;
}



.selected {
    background-color: #1E88E5 !important;
}

    .selected > td {
        color: white !important;
    }

        .selected > td .mud-input {
            color: white !important;
        }

.hfix {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 1px;
}

.mud-main-content {
    background: white;
}

.mud-card-actions.pb-1.pl-1 {
    display: none;
}

.mud-card-content {
    padding: 5px;
}

.bl-pop-up .mud-alert {
    background: white;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.denom .cash-ui {
    width: 35%;
}

.denom .mud-input-control > .mud-input-control-input-container > div.mud-input.mud-input-text {
    margin-top: 0px;
}

#ReportView {
    height: calc(100vh - 85px);
}

.no-flex {
    display: block;
}

.minimal .mud-grid-item {
    padding: 4px;
}

.minimal .mud-input-control {
    margin-top: 1px !important;
}

.minimal .mud-input > input.mud-input-root-outlined, div.mud-input-slot.mud-input-root-outlined {
    padding: 4px;
}

.mud-input-label.mud-input-label-animated.mud-input-label-outlined.mud-input-label-inputcontrol {
    color: #111;
}

.grx {
    background: #fefefe;
    border-radius: 3px;
}

.mud-paper.mud-elevation-1.mud-card.strech {
    width: 100%;
}

.mud-card-media.pullcenter {
    height: 75px !important;
    width: 75px !important;
    margin: auto;
}

.profile-table-header {
    font-weight: bold;
}

.profile-table-button {
    background-color: #063b71ff !important;
}

.mud-grid.mud-grid-spacing-xs-3.mud-grid-justify-xs-flex-start.user_messages {
    background: white;
    padding: 0px;
    margin: 2%;
    border-radius: 3px;
}

/*.main-backround-image {
    background-image: url("/img/background-image.jpg");
    background-repeat: no-repeat;
    position: page;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}*/



.k-combobox, .k-input {
    border: 1px solid #1E88E5;
    border-top-color: #1E88E5;
    border-top-style: solid;
    border-top-width: 1px;
    border-top: 1px solid #1E88E5 !important;
    border-radius: 1px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
}

.mob-s .mud-icon-button {
    height: 50px;
    width: 50px;
}

body {
    overscroll-behavior-y: contain;
}

.fixed-header {
    position: fixed;
    background: white;
    z-index: 2;
    left: 0;
    right: 0;
}

    .fixed-header .mud-typography {
        margin-left: 19px;
    }

.mud-button-group-root {
    margin-right: 2px;
}

.pull-d.mt-3, .my-3 {
    margin-top: 84px !important;
}

}


.k-drawer-content {
    padding: 25px;
    font-size: 18px;
}

.k-drawer-container {
    position: relative;
    width: 100%;
    height: 95%;
}

.k-drawer .k-drawer-item {
    white-space: nowrap;
    overflow: hidden;
}

.k-level-1 {
    padding-left: 20px;
}

.custom-toolbar {
    width: 100%;
    background-color: #f6f6f6;
    line-height: 10px;
    border-bottom: inset;
    border-bottom-width: 1px;
    padding: 3px 8px;
    color: #656565;
}

/*.main-background-image {
    background-image: url("/img/background-image.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}*/

@media only screen and (min-width: 401px) {
    /*.main-background-image {*/
    /*background-image: url("/img/web-background-image.jpg");*/

    /*}*/
}

@media only screen and (max-width: 400px) {
    .main-background-image {
        /*background-image: url("/img/mobile-background-image.png");*/
        background-image: none;
    }
}


.mud-container {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    height: calc(100vh - 64px);
    overflow: auto;
}

.mud-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 0px !important;
}

.fix-to-h {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}




.k-disabled {
    border: 1px solid #ccc !important;
}

.text-right .k-input-inner {
    text-align: right
}