<MudItem xs="12" class=@css_class md="@UIElement.Width">
 <div  style="text-align:center">
      <img  src="https://bl360x.com/BLECOMTEST/images/product_images/@(this.Base64ImageSource.Trim()).jpg" style="width:30%"/>
 </div>


</MudItem>