@using BlueLotus360.Com.UI.Definitions.MB.Shared.Components.TelerikComponents
@using BlueLotus360.Com.UI.Definitions.MB.Shared.Components.TelerikComponents.Button
@using BlueLotus360.Com.UI.Definitions.MB.Shared.Components.Buttons
<MudGrid Class="@FromSection.CssClass">

    @if (FromSection.Children != null && FromSection.Children.Count > 0)
    {


        foreach (var uielement in FromSection.Children)
        {
            <span class="d-none element-key">@uielement.ElementKey</span>
            @if (uielement.ElementType != null && uielement.ElementType.Equals("Cmb"))
            {
                if (uielement.ElementID != null && uielement.ElementID.Equals("CodeBase"))
                {
                    <BLCodeBaseCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }
                if (uielement.ElementID != null && uielement.ElementID.Equals("Address"))
                {
                    <BLAddressCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }

                if (uielement.ElementID != null && uielement.ElementID.Equals("Item"))
                {
                    <BLItemCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }

                if (uielement.ElementID != null && uielement.ElementID.Equals("Unit"))
                {
                    <BLUnitCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }

                if (uielement.ElementID != null && uielement.ElementID.Equals("Account"))
                {

                    <BLAccountCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />


                }
                if (uielement.ElementID != null && uielement.ElementID.Equals("AcceptedName")) 
                {
                    <BLCustomerSelectCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"/>
                }
                

            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("TelCmb"))
            {
                if (uielement.ElementID != null && uielement.ElementID.Equals("CodeBase"))
                {
                    <BLTelCodeBaseCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }
                if (uielement.ElementID != null && uielement.ElementID.Equals("Address"))
                {
                    <BLTelAddressCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }

                if (uielement.ElementID != null && uielement.ElementID.Equals("Item"))
                {
                   <BLTelItemCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }

                if (uielement.ElementID != null && uielement.ElementID.Equals("Unit"))
                {
                    <BLTelUnitCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }

                if (uielement.ElementID != null && uielement.ElementID.Equals("Account"))
                {

                    <BLTelAccountCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />


                }
                if (uielement.ElementID != null && uielement.ElementID.Equals("SerialNumber"))
                {
                    <BLSerialNumberCombo UIElement="uielement" ComboDataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
                }

            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("NumericBox"))
            {

                <BLNumericBox UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
            }

               @if (uielement.ElementType != null && uielement.ElementType.Equals("TelNumericBox"))
            {

                <BLTelNumericBox UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" />
            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("ReadOnlyNB"))
            {

                <BLNumericBox UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" IsReadOnly=true />
            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("TextBox"))
            {

                <BLTextBox UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"></BLTextBox>
            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("TelTextBox"))
            {
                <BLTelTextBox UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"></BLTelTextBox>
            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("TextArea"))
            {

                <BLTextArea UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"></BLTextArea>
            }
            @if(uielement.ElementType != null && uielement.ElementType.Equals("TelTextArea"))
            {
                <BLTelTextArea UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"></BLTelTextArea>
            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("Label"))
            {

                <BLLabel UIElement="uielement" DataObject="DataObject" ObjectHelpers="ObjectHelpers"></BLLabel>
            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("Switch"))
            {
                <BLSwitch FromSection="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"></BLSwitch>
            }

             @if (uielement.ElementType != null && uielement.ElementType.Equals("TelSwitch"))
            {
                <BLTelSwitch FromSection="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers">

                </BLTelSwitch>
            }


            @if (uielement.ElementType != null && uielement.ElementType.Equals("MultiRadio"))
            {

                <BLMultiRadio UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"></BLMultiRadio>
            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("CheckBox"))
            {

                <BLCheckBox UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers"></BLCheckBox>
            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("ButtonGroup"))
            {
                <BLGroupButton DataObject="DataObject" InteractionLogics="InteractionLogics" FromSection="uielement" ObjectHelpers="ObjectHelpers"/>
            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("Button"))
            {
                <BLButton DataObject="DataObject" InteractionLogics="InteractionLogics" FromSection="uielement" ObjectHelpers="ObjectHelpers" />
            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("TelButton"))
            {
                <BLTelButton DataObject="DataObject" InteractionLogics="InteractionLogics" FromSection="uielement" ObjectHelpers="ObjectHelpers" />
            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("Chip"))
            {
                <BLChip DataObject="DataObject" InteractionLogics="InteractionLogics" UIElement="uielement" ObjectHelpers="ObjectHelpers" />
            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("DatePicker"))
            {
                <BLDatePicker DataObject="DataObject" InteractionLogics="InteractionLogics" UIElement="uielement" ObjectHelpers="ObjectHelpers" />
            }
            
            @if (uielement.ElementType != null && uielement.ElementType.Equals("TelDatePicker"))
            {
                <BLTelDatePicker DataObject="DataObject" InteractionLogics="InteractionLogics" UIElement="uielement" ObjectHelpers="ObjectHelpers" />
            }

             @if (uielement.ElementType != null && uielement.ElementType.Equals("TelDTimePicker"))
            {
                <BLTelDateTimePicker DataObject="DataObject" InteractionLogics="InteractionLogics" UIElement="uielement" ObjectHelpers="ObjectHelpers" />
            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("TimePicker"))
            {
                <BLTimePicker DataObject="DataObject" InteractionLogics="InteractionLogics" UIElement="uielement" ObjectHelpers="ObjectHelpers" />
            }

            @if (uielement.ElementType != null && uielement.ElementID.Equals("Typo"))
            {

                <BLTypo DataObject="DataObject" InteractionLogics="InteractionLogics" FromSection="uielement" ObjectHelpers="ObjectHelpers" />

            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("HorizontalLine"))
            {
                <MudItem md="uielement.Width" Class="@uielement.CssClass">
                    <MudDivider />
                </MudItem>
            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("ImageBox"))
            {
                <BLImageBox DataObject="DataObject" InteractionLogics="InteractionLogics" UIElement="uielement" ObjectHelpers="ObjectHelpers" />

            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("ReadOnlyTextBox"))
            {
                <BLTextBox UIElement="uielement" DataObject="DataObject" InteractionLogics="InteractionLogics" ObjectHelpers="ObjectHelpers" IsReadOnly="true"></BLTextBox>

            }

            @if (uielement.ElementType != null && uielement.ElementType.Equals("OffSet"))
            {
                <MudItem xs="12" md="@uielement.Width">
                </MudItem>

            }
            @if (uielement.ElementType != null && uielement.ElementType.Equals("Card"))
            {
                <BLCard DataObject="DataObject" InteractionLogics="InteractionLogics" UIElement="uielement" ObjectHelpers="ObjectHelpers" />
            }
        }

    }

</MudGrid>


