

<MudItem xs="12" class=@css_class md="@FromSection.Width">


    <div class="w-100">
        <div class="col-12">
            <TelerikTooltip TargetSelector=".tooltip-target" />
            <div class="bk-k-lable tooltip-target" title="@FromSection.ElementCaption">@FromSection.ElementCaption</div>
        </div>
        <div class="col-12">
           <TelerikSwitch Class=@swt_css Value="IsSwitchOn"
           
           ValueChanged="(bool IsOn)=>SwitchValueChanged(IsOn)"></TelerikSwitch>

        </div>
    </div>




</MudItem>


